<div id="Content">
   <div id="subheader">

  <h1>Content</h1>
<p>About Dedalus We are a Global Health Software Company and one of the largest in the world. Our shareholding structure guarantees financial capacity and stability, thanks to the investment from Ardian, the largest private investment company in Europe and the fourth largest in the world.
</p>
<h1>Sub Header</h1>
<p>About Dedalus We are a Global Health Software Company and one of the largest in the world. Our shareholding structure guarantees financial capacity and stability, thanks to the investment from Ardian, the largest private investment company in Europe and the fourth largest in the world.
</p>
    </div>
<div id="navigation">
    <h1>Navigation</h1>
    <div id="Navigationcontent">
        <nav>
            <ul class="menu">
              <li><a href="#">Home</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Reviews</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>
          </nav>
</div>
</div>
</div>
