<h2>Login</h2>
<div id="login-card">    
    
    <table id="log-table">
         <tr>
             <th class="label_style">Username</th>
           <td><input type="text" [(ngModel)]="username"></td>
         </tr>
         <tr>
             <th class="label_style" >Password</th>
             <td><input type="text" [(ngModel)]="password"></td>
         </tr>
         <tr>
             
             <td colspan=2 
                 style="text-align:center"><button (click)="Login()">Login</button></td>
         </tr>
       
    </table>
  
    
</div>